grant {
	permission java.net.SocketPermission "*:1024-65535", "connect, accept, listen, resolve";
	permission java.io.FilePermission "<<ALL FILES>>", "read, write, delete";
	permission java.util.PropertyPermission "user.dir", "read";
	permission java.net.SocketPermission "mytube-ws.appspot.com:80", "connect,resolve";
};
