<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AddContent</servlet-name>
		<servlet-class>myTube.AddContent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetContentFromKey</servlet-name>
		<servlet-class>myTube.GetContentFromKey</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetContentFromTitle</servlet-name>
		<servlet-class>myTube.GetContentFromTitle</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetContentsFromKeyword</servlet-name>
		<servlet-class>myTube.GetContentsFromKeyword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContent</servlet-name>
		<url-pattern>/addcontent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetContentFromKey</servlet-name>
		<url-pattern>/getcontentfromkey</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetContentFromTitle</servlet-name>
		<url-pattern>/getcontentfromtitle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetContentsFromKeyword</servlet-name>
		<url-pattern>/getcontentsfromkeyword</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
